[submodule "coc.nvim"]
	path = pack/package/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "a.vim"]
	path = pack/package/start/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule "vim-ingo-library"]
	path = pack/package/start/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library
[submodule "vim-mark"]
	path = pack/package/start/vim-mark
	url = https://github.com/inkarkat/vim-mark
[submodule "LeaderF"]
	path = pack/package/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF
[submodule "DoxygenToolkit.vim"]
	path = pack/package/start/DoxygenToolkit.vim
	url = https://github.com/vim-scripts/DoxygenToolkit.vim
[submodule "nerdcommenter"]
	path = pack/package/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim-airline"]
	path = pack/package/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "tagbar"]
	path = pack/package/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim-maktaba"]
	path = pack/package/start/vim-maktaba
	url = https://github.com/google/vim-maktaba
[submodule "vim-codefmt"]
	path = pack/package/start/vim-codefmt
	url = https://github.com/google/vim-codefmt
[submodule "vim-glaive"]
	path = pack/package/start/vim-glaive
	url = https://github.com/google/vim-glaive
[submodule "ack.vim"]
	path = pack/package/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "ultisnips"]
	path = pack/package/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim-snippets"]
	path = pack/package/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim-gitgutter"]
	path = pack/package/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-fugitive"]
	path = pack/package/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "indentLine"]
	path = pack/package/start/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "defx.nvim"]
	path = pack/package/start/defx.nvim
	url = https://github.com/Shougo/defx.nvim
[submodule "markdown-preview.nvim"]
	path = pack/package/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "copilot.vim"]
	path = pack/package/start/copilot.vim
	url = https://github.com/github/copilot.vim
